* {
    box-sizing: border-box;
    text-align: center;
}



.container {
    display: grid;
    justify-content: center;
    
    width: 700px;
    height: 700px; 
    border: 5px black solid;
}

.gridDiv {
    
}

.gridDivColorOn {
    background-color: red;
}
